
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-up-big:before { content: '\e801'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */